<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="lidar" params="name x y z">

        <link name="${name}_link">   
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="${lidar_width}" length="${lidar_thickness}" />
                </geometry>
                <material name="Green"/>                     
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="${lidar_width}" length="${lidar_thickness}" />
                </geometry>
            </collision>
            <xacro:cyclinder_inertia mass="${lidar_mass}" radius="${lidar_width}" height="${lidar_thickness}" />
        </link>
    
        <joint name="${name}_joint" type="fixed">
            <parent link="base_link" />
            <child link="${name}_link" />
            <origin xyz="${x} ${y} ${z}" rpy="0 0 0" />
        </joint>
    
    
        <gazebo reference="${name}_link">
            <material>Gazebo/Green</material>
            <sensor name="lidar" type="ray">
                <always_on>true</always_on>
                <visualize>${visualize_lidar}</visualize>
                <update_rate>5</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>360</samples>
                            <resolution>1.000000</resolution>
                            <min_angle>0.000000</min_angle>
                            <max_angle>6.280000</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>${lidar_min_range}</min>
                        <max>${lidar_max_range}</max>
                        <resolution>0.015000</resolution>
                    </range>
                </ray>
                <plugin name="scan" filename="libgazebo_ros_ray_sensor.so">
                    <ros>
                        <remapping>~/out:=scan</remapping>
                    </ros>
                    <output_type>sensor_msgs/LaserScan</output_type>
                    <frame_name>${name}_link</frame_name>
                </plugin>
            </sensor>
        </gazebo>

    </xacro:macro>

</robot>